.side-bar-wrapper {
  // color: white;
  font-size: 19px;
  border: 2px solid white;
  // height: 697px;
  // width: 250px;
  background-color: rgb(2, 98, 107);

    // .channel {
    //   border: 1px solid black;
    // }
}